<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    
    <!-- <link rel="stylesheet" href="style/style.css"> -->

    <!-- <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->

    <!-- abc -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->

    <style type="text/css">
        .row-header{
            margin:0px auto;
            padding:0px;
        }

        .row-content {
            margin:0px auto;
            padding: 50px 0px 50px 0px;
            border-bottom: 1px ridge;
            min-height:400px;
        }

        .footer{
            background-color: #D1C4E9;
            margin:0px auto;
            padding: 20px 0px 20px 0px;
        }
        .jumbotron {
            padding:70px 30px 70px 30px;
            margin:0px auto;
            background: #9575CD ;
            color:floralwhite;
        }

        .address{
            font-size:80%;
            margin:0px;
            color:#0f0f0f;
        }
        body{
            padding: 50px 0px 0px 0px;
            z-index: 0;
        }

        .navbar-dark{
            background-color: #512DA8;
        }
        .tab-content {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }

    </style>

    <title>G-class</title>


</head>

<body>

