<%- include('partials/header.ejs') %>


<nav class="navbar navbar-dark navbar-expand-sm  fixed-top">
	<div class="container">
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<a class="navbar-brand mr-auto" href="#"><img src="logos.png" height="30" width="41"></a>

		<div class="collapse navbar-collapse" id="Navbar">
			
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/index"><span class="fa fa-home fa-lg"></span>
						HOME</a></li>
				
			</ul>

		</div>

	</div>
</nav>


<header class="jumbotron">
	<div class="container">
		<div class="row row-header">
			<div class="col-12 col-sm-2 align-self-left align-self-center">
				<img src="logos.png" class="img-fluid">
			</div>
			<div class="col-12 col-sm-10">
				<h1>G-Class</h1>
				<p>Share the story of your classroom with families
					Instantly share photos, videos, and announcements on Class Story, or privately message with any parent 😍
					Parents easily join your class using any device
				</p>
			</div>
			
			<!-- <div class="col-12 col-sm align-self-right align-self-center">
				<button type="submit" class="btn btn-warning"><a href="#here">
						<bold>Reserve Table</bold>
					</a></button>
			</div> -->
		</div>
	</div>
</header>

<h1>One of the username or password is wrong</h1>

<br>


<br>


<!-- <a href="/logout">
	LOGOUT
</a> -->

<%- include('partials/footer.ejs') %>